<button pButton type="button" label="Home" icon="pi pi-home" (click)="homeClick()"></button>
<div [formGroup]="actionBarForm" class="action-bar--menu">
  <label class="action-bar--menu--label">Menu: </label>
  <p-dropdown placeholder="Select..." class="p-component" [options]="menuOptions" formControlName="selectedOption"
    (onChange)="optionSelected($event)" optionLabel="name">
  </p-dropdown>
</div>
<button pButton type="button" label="Back" icon="pi pi-arrow-left" class="p-button-danger"
  (click)="backClick()"></button>
